/*body
{
	background: url('../images/fondecran.jpg') no-repeat;
	margin:auto;
	
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
*/
/*img
{
	height:51;
	width:70;
}*/

/*.teste
{
	display: inline;
}*/

.menu
{
	/*padding-bottom: 25px;*/
	background-color: #f1c40f;
	opacity: 0.8;
}

.menu_selec
{
	/*padding-bottom: 25px;*/
	background-color: #16a085;
}

/*.submenu
	background-color: #1abc9c;
}*/
/*
.no_sel{
	color: #	background-color: rgba(0,0,0,0.3);
}*/

.sel_film{
	color: #000000;
	background-color: #34495e;
}

.sel_image{
	color: #000000;
	background-color: #34495e;
}

.sel_jeu{
	color: #000000;
	background-color: #34495e;
}

.panel{
	padding: 10px;
}
.footer{
	position: absolute;
	bottom: 0;
}
