<!Doctype>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="user-scalable=no,width=device-width" />
	<link rel="stylesheet" href="/remote.css">
	<title>Remote</title>
</head>
<body>
	<h1>jsTV remote</h1>
	<img src="/images/remote.png">
	<input type="text" id="command"><button onClick="send_text()">Send</button>
	<p id="connect"></p>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/quo.js"></script>
	<script src="/remote.js"></script>
</body>
</html>
