<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TV</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<link href="flatui_css/main_css.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
	<h1>TV CENTER<small> entertainment center</small><h1>
	  <div class="row">
		<div class="col-md-4" id="menu_1">
		<div class="panel panel-info">
		    <div class="panel-heading">
			<h3 class="panel-title"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Films</h3>
		    </div>
		    <div class="panel-body">
			<ul id="films_list" class="submenu">
				<li id="start_film" class="hidden sel_film"></li>
					<% films.forEach(function(film){ %>
					<li class="list-group-item"><h5><%=film %><h5></li>
					<% }); %>
				<li class="hidden" id="end_film"></li>
			</ul>
		    </div>
		</div>
		</div>
		<div class="col-md-4" id="menu_2">
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h3 class="panel-title"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Photos</h3>
		    </div>
		    <div class="panel-body">
			<ul id="images_list" class="submenu">
				<li id="start_image" class="hidden sel_image"></li>
					<% images.forEach(function(image){ %>
					<li class="list-group-item"><h5><%=image %></h5></li>
					<% }); %>
				<li id="end_image" class="hidden"></li>
			</ul>
		    </div>
		</div>
		</div>
		<div class="col-md-4" id="menu_3">
		<div class="panel panel-default">
		    <div class="panel-heading">
			<h3 class="panel-title"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Musiques</h3>
		    </div>
		    <div class="panel-body">
			<ul id="jeux_list" class="submenu">
				<li id="start_jeu" class="sel_jeu hidden"></li>
				<% jeux.forEach(function(jeu){ %>
					<li class="list-group-item"><h5><%=jeu %></h5></li>
				<% }); %>
				<li id="end_jeu" class="hidden"></li>
			</ul>
		    </div>
		</div>
		</div>	
	  </div>
    	</div>

	<footer class="footer">
	  <div class="container-fluid">
	    <p class="text-muted">Le dernier message reçu est :</p>
	    <p class="text-muted" id="last"></p>
	    <p class="text-muted" id="connect"></p>
	  </div>
	</footer>

	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="tv.js"></script>
</body>
</html>
