<!Doctype>
<html>
<head>
	<meta charset="utf-8" />
	<title>TV</title>
</head>
<body>
	<p>Ceci est le programme de la télé.</p>
	<p>Le dernier message reçu est :</p>
	<p id="last"></p>
	<p id="connect"></p>

	<script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
	<script src="http://127.0.0.1:8080/tv.js"></script>
</body>
</html>
